{{define "header"}}
<section id="header">
    <a href="/"><img src="/static/img/logo.png" class="logo" alt=""></a>
    <div>
        <ul id="navbar">
            <li><a href="/index">Home</a></li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li id="lg-bag"><a href="/cart"><i class='bx bx-shopping-bag'></i></a></li>
            <a href="#" id="close"><i class='bx bx-x'></i></a>
        </ul>
    </div>
    <div id="mobile">
        <a href="/cart"><i class='bx bx-shopping-bag'></i></a>
        <i id="bar" class='bx bx-menu'></i>
    </div>
</section>
{{end}}
