<!-- shop.html -->
{{define "title"}}Home - Your ECommerce Site{{end}}
{{define "content"}}
        <section id="page-header">
            <h2>#stayhome</h2>
            <p>save more with coupons & up to 70% off!</p>
        </section> 


        <section id="product1" class="section-p1">
            <div class="pro-container">
                {{range .}}
                <div class="pro">
                    <a href="/product/{{.ID}}">
                        <img class="shirt" src="{{.ImageURL}}" alt="">
                    </a>
                    <div class="des">
                        <span>{{.Brand}}</span>
                        <h5><a href="/product/{{.ID}}">{{.Name}}</a></h5>
                        <div class="star">
                            <i class='bx bxs-star' ></i>
                            <i class='bx bxs-star' ></i>
                            <i class='bx bxs-star' ></i>
                            <i class='bx bxs-star' ></i>
                            <i class='bx bxs-star' ></i>
                        </div>
                        <h4>{{.Price}}€</h4>
                    </div>
                    <form 
                        hx-post="/add-to-cart" 
                        hx-target="#cart-count"
                        hx-swap="outerHTML"
                        style="display: inline;">
                        <input type="hidden" name="Id" value="{{.ID}}">
                        <input type="hidden" name="quantity" value="1">
                        <button type="submit" style="border: none; background: none; padding: 0;">
                            <i class='bx bx-cart cart'></i>
                        </button>
                    </form>
                </div>
                {{end}}
            </div>
        </section>


        <section id="pagination" class="section-p1">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#"><i class='bx bx-right-arrow-alt'></i></a>
        </section>

        <section id="newsletter" class="section-p1 section-m1">
            <div class="newstext">
                <h4>Sign Up For Newsletters</h4>
                <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
            </div>
            <div class="form">
                <input type="text" placeholder="Your email address">
                <button class="normal">Sign Up</button>
            </div>
        </section>

{{end}}
